# Combine data and reorder column

In [91]:
unified_col = ['user_id',
               'display_name',
               'gender',
               'location',
               'badge_counts',
               'reputation',
               'accept_rate',
               'question_count',
               'answer_count',
               'up_vote_count',
               'down_vote_count',
               'account_id',
               'user_type']
unified_col

['user_id',
 'display_name',
 'gender',
 'location',
 'badge_counts',
 'reputation',
 'accept_rate',
 'question_count',
 'answer_count',
 'up_vote_count',
 'down_vote_count',
 'account_id',
 'user_type']

1. firstk = 1 - 1000
2. secondk = 1001 - 2000

In [92]:
import pandas as pd
data_firstk = pd.read_csv("raw_user_data/page_1_to_1000.csv")
data_firstk = data_firstk[unified_col]
data_firstk

,user_id,display_name,gender,location,badge_counts,reputation,accept_rate,question_count,answer_count,up_vote_count,down_vote_count,account_id,user_type
0,22656,Jon Skeet,male,"Reading, United Kingdom","{'bronze': 8743, 'silver': 8438, 'gold': 756}",1183690,86.0,50,35003,16576,7017,11683,registered
1,1144035,Gordon Linoff,male,"New York, United States","{'bronze': 522, 'silver': 407, 'gold': 40}",958913,NaN,0,68331,16169,41,1165580,registered
2,6309,VonC,unknown,France,"{'bronze': 3809, 'silver': 3240, 'gold': 384}",952870,100.0,16,23735,54508,287,4243,registered
3,157882,BalusC,unknown,"Willemstad, Cura&#231;ao","{'bronze': 3367, 'silver': 3365, 'gold': 329}",931100,93.0,15,17081,15484,21829,52822,registered
4,29407,Darin Dimitrov,andy,"Sofia, Bulgaria","{'bronze': 2828, 'silver': 3125, 'gold': 240}",912621,86.0,41,21458,1955,2651,14332,registered
5,23354,Marc Gravell,male,"Forest of Dean, United Kingdom","{'bronze': 2690, 'silver': 2315, 'gold': 224}",865440,100.0,46,15549,25363,1080,11975,moderator
6,115145,CommonsWare,unknown,"Pennsylvania, United States","{'bronze': 2105, 'silver': 2086, 'gold': 156}",852105,84.0,118,21834,11349,7218,39846,registered
7,17034,Hans Passant,andy,"Madison, WI","{'bronze': 2261, 'silver': 1466, 'gold': 122}",839610,NaN,2,16098,10484,60299,9266,registered
8,100297,Martijn Pieters,andy,"Cambridge, UK","{'bronze': 2703, 'silver': 3064, 'gold': 197}",812356,NaN,3,19791,5792,20448,35417,moderator
9,157247,T.J. Crowder,unknown,United Kingdom,"{'bronze': 1505, 'silver': 1452, 'gold': 149}",794631,91.0,79,19011,12301,27057,52616,registered
10,893,Greg Hewgill,male,"Christchurch, New Zealand","{'bronze': 1210, 'silver': 1065, 'gold': 164}",759308,84.0,53,5405,6638,2258,680,registered
11,34397,SLaks,unknown,New Jersey,"{'bronze': 1846, 'silver': 1750, 'gold': 158}",752186,87.0,51,15135,6995,3269,15988,registered
12,19068,Quentin,male,United Kingdom,"{'bronze': 1130, 'silver': 985, 'gold': 88}",730491,NaN,4,20805,8155,72242,10162,registered
13,14860,paxdiablo,unknown,NaN,"{'bronze': 1771, 'silver': 1386, 'gold': 196}",713969,100.0,252,10613,4317,1395,8291,registered
14,95810,Alex Martelli,mostly_male,"Sunnyvale, CA","{'bronze': 1312, 'silver': 1107, 'gold': 141}",703306,80.0,6,6280,822,50,34048,registered
15,5445,CMS,unknown,Guatemala,"{'bronze': 821, 'silver': 878, 'gold': 168}",667945,NaN,0,2179,579,6,3748,registered
16,61974,Mark Byers,male,Denmark,"{'bronze': 1373, 'silver': 1449, 'gold': 151}",663210,NaN,0,6759,10338,340,24377,registered
17,20862,Ignacio Vazquez-Abrams,andy,NaN,"{'bronze': 1238, 'silver': 1166, 'gold': 122}",649321,50.0,8,12302,1739,73,10930,registered
18,335858,dasblinkenlight,unknown,United States,"{'bronze': 1313, 'silver': 912, 'gold': 67}",649274,81.0,26,15910,30776,3100,134022,registered
19,218196,Felix Kling,andy,NaN,"{'bronze': 1016, 'silver': 953, 'gold': 145}",642865,100.0,8,6884,6163,2045,76141,registered
20,190597,unutbu,unknown,NaN,"{'bronze': 1426, 'silver': 1423, 'gold': 128}",639948,88.0,17,7511,17241,661,64585,registered
21,13302,marc_s,unknown,"Bern, Switzerland","{'bronze': 1338, 'silver': 1206, 'gold': 143}",635417,99.0,218,9042,27094,26909,7633,registered
22,23283,JaredPar,unknown,"Redmond, WA","{'bronze': 1387, 'silver': 1146, 'gold': 131}",633697,100.0,5,6418,8137,76,11948,registered
23,15168,Jonathan Leffler,male,"Colorado, USA","{'bronze': 1122, 'silver': 753, 'gold': 108}",626903,100.0,49,12557,31625,1049,8423,registered
24,69083,Guffa,unknown,"Virsbo, Sweden","{'bronze': 912, 'silver': 640, 'gold': 86}",605796,NaN,3,10621,493,140,26521,registered
25,571407,JB Nizet,unknown,"Saint-Etienne, France","{'bronze': 1108, 'silver': 1022, 'gold': 75}",600259,100.0,8,13981,5476,9087,277416,registered
26,548225,anubhava,unknown,"Bangalore, India","{'bronze': 479, 'silver': 398, 'gold': 50}",594334,90.0,10,22799,21811,1077,262968,registered
27,88656,Eric Lippert,male,"Seattle, WA","{'bronze': 2008, 'silver': 1140, 'gold': 160}",589466,NaN,0,3773,2,4590,32093,registered
28,19563,CB Bailey,unknown,United Kingdom,"{'bronze': 626, 'silver': 587, 'gold': 87}",589429,NaN,0,1980,1148,203,10375,registered
29,139985,Stephen C,male,Australia,"{'bronze': 1034, 'silver': 682, 'gold': 81}",586300,69.0,21,13727,3025,3700,47283,registered
...,...,...,...,...,...,...,...,...,...,...,...,...,...
99970,225266,OscarTheGrouch,unknown,"Liverpool, NY","{'bronze': 38, 'silver': 27, 'gold': 4}",2294,72.0,63,13,353,17,79448,registered
99971,233905,Aleš Kotnik,male,Slovenia,"{'bronze': 17, 'silver': 15, 'gold': 0}",2294,NaN,2,49,63,1,83423,registered
99972,365712,spier,unknown,NaN,"{'bronze': 16, 'silver': 15, 'gold': 1}",2294,57.0,7,36,86,2,151684,registered
99973,460176,Muhammad Abdullah,male,"Jakarta, Indonesia","{'bronze': 16, 'silver': 16, 'gold': 2}",2294,NaN,2,13,13,1,209252,registered
99974,563299,Scott B,andy,NaN,"{'bronze': 40, 'silver': 26, 'gold': 3}",2294,97.0,37,14,219,0,272295,registered
99975,568857,Florian Fida,male,Vienna,"{'bronze': 23, 'silver': 20, 'gold': 2}",2294,100.0,10,31,66,0,275785,registered
99976,596104,Chingiz Musayev,andy,"Kharkiv, Ukraine","{'bronze': 6, 'silver': 11, 'gold': 1}",2294,NaN,0,31,9,0,293005,registered
99977,630718,Noah,andy,NaN,"{'bronze': 11, 'silver': 14, 'gold': 0}",2294,NaN,0,24,23,0,315121,registered
99978,639609,palm snow,unknown,NaN,"{'bronze': 47, 'silver': 26, 'gold': 4}",2294,92.0,90,1,77,3,321029,registered
99979,706454,Adetiloye Philip Kehinde,unknown,NaN,"{'bronze': 51, 'silver': 23, 'gold': 2}",2294,43.0,80,36,1045,8,362975,registered
99980,735744,Charles Keepax,male,Scotland,"{'bronze': 19, 'silver': 15, 'gold': 1}",2294,NaN,1,56,282,6,381209,registered
99981,745191,program-o-steve,unknown,"Milky Way , Earth","{'bronze': 66, 'silver': 39, 'gold': 12}",2294,65.0,95,3,148,43,387064,registered
99982,801362,Ward,andy,"Berlijn, Duitsland","{'bronze': 35, 'silver': 16, 'gold': 1}",2294,100.0,7,55,471,5,422529,registered
99983,885650,j13r,unknown,NaN,"{'bronze': 25, 'silver': 17, 'gold': 0}",2294,38.0,17,94,66,9,475373,registered
99984,888525,istepaniuk,unknown,Amsterdam,"{'bronze': 45, 'silver': 20, 'gold': 2}",2294,NaN,1,94,825,349,477181,registered
99985,1082845,Fisu,unknown,Argentina,"{'bronze': 14, 'silver': 11, 'gold': 1}",2294,71.0,7,8,22,1,1087474,registered
99986,1179680,Arnlee Vizcayno,unknown,"Cebu, Philippines","{'bronze': 31, 'silver': 19, 'gold': 2}",2294,62.0,15,12,38,9,1211190,registered
99987,1275092,mattbdean,unknown,127.0.0.1,"{'bronze': 55, 'silver': 22, 'gold': 4}",2294,91.0,52,26,172,27,1331202,registered
99988,1383753,manuj,unknown,NaN,"{'bronze': 23, 'silver': 12, 'gold': 1}",2294,70.0,19,95,76,9,1472596,registered
99989,1438334,J&#233;r&#244;me Bo&#233;,unknown,"Paris, France","{'bronze': 26, 'silver': 16, 'gold': 2}",2294,73.0,38,33,367,3,1544474,registered
99990,1570908,Mackey18,unknown,NaN,"{'bronze': 38, 'silver': 21, 'gold': 2}",2294,89.0,66,33,116,4,1713298,registered
99991,1581929,Jojo,unknown,"Leipzig, Germany","{'bronze': 21, 'silver': 13, 'gold': 1}",2294,NaN,2,59,81,27,1727590,registered
99992,1594060,Josh Rumbut,male,"Worcester, MA, United States","{'bronze': 37, 'silver': 25, 'gold': 2}",2294,75.0,6,100,1305,1,1743255,registered
99993,1822974,JPS,unknown,"Hyderabad, Telangana, India","{'bronze': 47, 'silver': 19, 'gold': 5}",2294,55.0,91,21,362,2,2042066,registered
99994,2216860,Mate Varga,andy,NaN,"{'bronze': 14, 'silver': 11, 'gold': 2}",2294,54.0,16,6,21,6,2554578,registered
99995,2354695,KeizerBridge,unknown,NaN,"{'bronze': 36, 'silver': 18, 'gold': 5}",2294,76.0,58,18,315,11,2730874,registered
99996,2356203,Wyatt,andy,NaN,"{'bronze': 12, 'silver': 12, 'gold': 0}",2294,NaN,0,44,16,5,2732839,registered
99997,2708372,Dilukshan Mahendra,unknown,"Colombo, Sri Lanka","{'bronze': 56, 'silver': 29, 'gold': 5}",2294,65.0,97,8,103,1,3207650,registered
99998,3160849,johnpatrickmorgan,unknown,"London, United Kingdom","{'bronze': 17, 'silver': 10, 'gold': 2}",2294,NaN,0,89,130,7,3809226,registered
99999,3206471,gigabytes,unknown,"Udine, Italy","{'bronze': 29, 'silver': 10, 'gold': 0}",2294,64.0,20,12,124,3,3477494,registered

In [93]:
data_secondk = pd.read_csv("raw_user_data/page_1001_to_2000.csv")
# secondk_col = list(data_secondk.columns.values)
# secondk_col
data_secondk = data_secondk[unified_col]
data_secondk

,user_id,display_name,gender,location,badge_counts,reputation,accept_rate,question_count,answer_count,up_vote_count,down_vote_count,account_id,user_type
0,1931910,DelboyJay,unknown,United Kingdom,"{'bronze': 13, 'silver': 10, 'gold': 1}",2293,33.0,10,6,64,4,2182807,registered
1,2568648,user2568648,unknown,NaN,"{'bronze': 43, 'silver': 28, 'gold': 7}",2293,82.0,71,7,118,0,3029289,registered
2,2588210,Christian K.,andy,"Buenos Aires, Argentina","{'bronze': 32, 'silver': 12, 'gold': 0}",2293,0.0,6,64,15,8,3054215,registered
3,3036701,Sudharshan,unknown,"Bangalore, Karnataka, India","{'bronze': 22, 'silver': 18, 'gold': 1}",2293,NaN,2,28,46,10,3643000,registered
4,3563847,Diana Nassar,andy,"Amman, Jordan","{'bronze': 17, 'silver': 11, 'gold': 0}",2293,NaN,1,65,64,3,4368946,registered
5,4385010,burakhan alkan,unknown,"Amsterdam, Netherlands","{'bronze': 19, 'silver': 12, 'gold': 1}",2293,NaN,2,34,55,4,5522480,registered
6,4436470,Khizar Hayat,unknown,"Lahore, Punjab, Pakistan","{'bronze': 19, 'silver': 12, 'gold': 2}",2293,50.0,11,71,583,2,5599901,registered
7,4487982,Cole,andy,NaN,"{'bronze': 29, 'silver': 13, 'gold': 0}",2293,90.0,27,76,70,8,5674193,registered
8,21009,Miro Kropacek,andy,"Bratislava, Slovakia","{'bronze': 35, 'silver': 22, 'gold': 2}",2292,71.0,47,25,181,25,10989,registered
9,64444,schettino72,unknown,"Chengdu, China","{'bronze': 26, 'silver': 24, 'gold': 0}",2292,83.0,7,25,46,16,25154,registered
10,73653,Ashutosh Mehra,andy,NaN,"{'bronze': 15, 'silver': 17, 'gold': 1}",2292,NaN,0,15,388,2,27777,registered
11,117575,BBlake,unknown,Ohio,"{'bronze': 29, 'silver': 19, 'gold': 0}",2292,73.0,17,97,195,22,40576,registered
12,311792,priomsrb,unknown,NaN,"{'bronze': 32, 'silver': 22, 'gold': 3}",2292,80.0,12,20,642,1,119805,registered
13,329827,Trey Carroll,male,Michigan,"{'bronze': 28, 'silver': 20, 'gold': 4}",2292,81.0,22,31,133,0,130505,registered
14,372767,Chris Foster,andy,Canada,"{'bronze': 27, 'silver': 17, 'gold': 1}",2292,100.0,8,42,195,19,155847,registered
15,379053,rownage,unknown,"Philadelphia, Pennsylvania","{'bronze': 30, 'silver': 20, 'gold': 3}",2292,94.0,17,47,104,2,159571,registered
16,385307,snod,unknown,NaN,"{'bronze': 20, 'silver': 16, 'gold': 3}",2292,75.0,4,15,84,4,163277,registered
17,420217,Gary,andy,NaN,"{'bronze': 44, 'silver': 23, 'gold': 2}",2292,71.0,77,18,1287,4,184276,registered
18,423871,irishbuzz,unknown,"Dublin, Ireland","{'bronze': 16, 'silver': 15, 'gold': 1}",2292,NaN,2,41,67,1,186462,registered
19,440243,oscarm,unknown,"Los Angeles, CA","{'bronze': 70, 'silver': 33, 'gold': 5}",2292,80.0,87,15,41,0,196669,registered
20,466884,Rose,andy,NaN,"{'bronze': 36, 'silver': 22, 'gold': 3}",2292,62.0,32,30,88,3,213485,registered
21,472974,Devan Buggay,mostly_male,"Bellevue, WA, United States","{'bronze': 33, 'silver': 21, 'gold': 4}",2292,100.0,14,33,335,56,217256,registered
22,484898,AJPatel,unknown,NaN,"{'bronze': 41, 'silver': 21, 'gold': 0}",2292,78.0,23,54,319,24,224819,registered
23,502042,Honzajscz,unknown,"Prague, Czech Republic","{'bronze': 22, 'silver': 21, 'gold': 1}",2292,62.0,18,26,946,12,235312,registered
24,506361,Pre101,unknown,United States,"{'bronze': 22, 'silver': 15, 'gold': 0}",2292,NaN,2,96,69,11,237867,registered
25,547552,Azri Jamil,unknown,"Selangor, Malaysia","{'bronze': 36, 'silver': 25, 'gold': 2}",2292,63.0,20,25,36,1,262585,registered
26,561677,Chris Gregg,mostly_male,"Somerville, MA","{'bronze': 27, 'silver': 15, 'gold': 0}",2292,88.0,9,78,602,4,271244,registered
27,581486,Vitor Hugo,unknown,NaN,"{'bronze': 2, 'silver': 12, 'gold': 2}",2292,NaN,0,1,0,0,701177,unregistered
28,611020,Benjamin Harel,male,"Jerusalem, Israel","{'bronze': 28, 'silver': 20, 'gold': 3}",2292,85.0,37,27,243,9,302572,registered
29,632555,Alexander Staubo,andy,NaN,"{'bronze': 22, 'silver': 22, 'gold': 2}",2292,14.0,12,11,71,9,316394,registered
...,...,...,...,...,...,...,...,...,...,...,...,...,...
99970,500690,Tony Park,andy,NaN,"{'bronze': 14, 'silver': 8, 'gold': 0}",1049,71.0,8,7,75,0,234497,registered
99971,529181,zrbecker,unknown,NaN,"{'bronze': 32, 'silver': 13, 'gold': 1}",1049,72.0,37,10,48,9,251646,registered
99972,536105,vermin,unknown,NaN,"{'bronze': 17, 'silver': 11, 'gold': 2}",1049,100.0,4,3,20,11,255805,registered
99973,546289,MBax,unknown,NaN,"{'bronze': 7, 'silver': 10, 'gold': 2}",1049,NaN,3,0,0,0,686732,unregistered
99974,548685,Miere,unknown,"Joinville, Brazil","{'bronze': 22, 'silver': 15, 'gold': 0}",1049,NaN,3,12,221,4,263246,registered
99975,556562,Jainathan Leung,unknown,NaN,"{'bronze': 25, 'silver': 12, 'gold': 1}",1049,85.0,23,23,26,5,268035,registered
99976,560774,dv_,unknown,NaN,"{'bronze': 13, 'silver': 7, 'gold': 0}",1049,100.0,13,5,23,0,270682,registered
99977,561390,Hollownest,unknown,New York City,"{'bronze': 10, 'silver': 10, 'gold': 0}",1049,NaN,0,10,75,0,271059,registered
99978,561638,user561638,unknown,NaN,"{'bronze': 26, 'silver': 12, 'gold': 3}",1049,42.0,27,1,3,0,271221,registered
99979,572408,Ryan Quinn,mostly_male,"Seattle, WA, United States","{'bronze': 26, 'silver': 13, 'gold': 0}",1049,62.0,9,23,831,8,278046,registered
99980,582298,coderforlife,unknown,"San Diego, CA","{'bronze': 25, 'silver': 15, 'gold': 0}",1049,85.0,26,12,846,0,284283,registered
99981,583508,Chuck Morris,andy,NaN,"{'bronze': 13, 'silver': 8, 'gold': 1}",1049,NaN,4,18,46,5,285057,registered
99982,597200,gorlok,unknown,"La Plata, Argentina","{'bronze': 16, 'silver': 6, 'gold': 0}",1049,NaN,0,35,194,8,293726,registered
99983,602162,brodney,unknown,NaN,"{'bronze': 29, 'silver': 12, 'gold': 1}",1049,81.0,20,7,545,22,296925,registered
99984,607408,Michael,andy,NaN,"{'bronze': 17, 'silver': 7, 'gold': 0}",1049,40.0,6,19,276,1,300332,registered
99985,718106,Jimmy Luong,male,"Austin, TX, USA","{'bronze': 16, 'silver': 8, 'gold': 1}",1049,50.0,5,19,33,1,370272,registered
99986,726650,amobiz,unknown,Taiwan,"{'bronze': 11, 'silver': 12, 'gold': 0}",1049,NaN,0,4,217,2,375661,registered
99987,733598,Win32,unknown,NaN,"{'bronze': 12, 'silver': 10, 'gold': 0}",1049,NaN,0,32,1,1,379909,registered
99988,740178,V&#237;tor N&#243;brega,unknown,NaN,"{'bronze': 44, 'silver': 23, 'gold': 3}",1049,54.0,82,1,84,0,383980,registered
99989,763557,wgp,unknown,"Chicago, IL","{'bronze': 14, 'silver': 14, 'gold': 0}",1049,100.0,11,14,71,3,398711,registered
99990,772932,Rich Lowenberg,andy,NaN,"{'bronze': 12, 'silver': 8, 'gold': 1}",1049,NaN,4,9,32,9,404545,registered
99991,773606,frp,unknown,"Dublin, Ірландія","{'bronze': 29, 'silver': 9, 'gold': 0}",1049,100.0,21,18,255,12,404972,registered
99992,799845,Lenin,unknown,"Dhaka, Bangladesh","{'bronze': 34, 'silver': 14, 'gold': 0}",1049,75.0,10,62,440,12,421542,registered
99993,809829,user809829,unknown,NaN,"{'bronze': 32, 'silver': 14, 'gold': 3}",1049,60.0,36,2,17,1,427858,registered
99994,849128,TheSystem,unknown,"Porto, Portugal","{'bronze': 9, 'silver': 7, 'gold': 1}",1049,NaN,2,8,4,0,452605,registered
99995,916956,BreezyChick89,unknown,NaN,"{'bronze': 12, 'silver': 7, 'gold': 1}",1049,93.0,34,0,54,1,551168,registered
99996,981465,Lokiare,unknown,NaN,"{'bronze': 23, 'silver': 12, 'gold': 1}",1049,73.0,14,17,50,8,956212,registered
99997,984463,mcfea,unknown,Oregon,"{'bronze': 21, 'silver': 14, 'gold': 0}",1049,100.0,5,38,550,2,959855,registered
99998,985833,Bernard,male,United Kingdom,"{'bronze': 22, 'silver': 16, 'gold': 3}",1049,95.0,22,0,13,0,961588,registered
99999,985859,Vic Goldfeld,andy,NaN,"{'bronze': 13, 'silver': 11, 'gold': 0}",1049,83.0,7,9,186,2,203614,registered

In [94]:
data_fourthk = pd.read_csv("raw_user_data/page_4001_to_5000.csv")
data_fourthk = data_fourthk[unified_col]
data_fourthk

,user_id,display_name,gender,location,badge_counts,reputation,accept_rate,question_count,answer_count,up_vote_count,down_vote_count,account_id,user_type
0,4788306,Dave Alvarez,andy,NaN,"{'bronze': 6, 'silver': 5, 'gold': 0}",436,NaN,0,3,6,0,6140831,registered
1,4793316,jwe,unknown,NaN,"{'bronze': 4, 'silver': 2, 'gold': 0}",436,NaN,0,15,1,0,6147942,registered
2,4856777,perfectus,unknown,"Bengaluru, India","{'bronze': 14, 'silver': 4, 'gold': 0}",436,67.0,10,7,89,5,6244224,registered
3,4879550,TheMadDBA,unknown,NaN,"{'bronze': 4, 'silver': 3, 'gold': 0}",436,NaN,0,35,28,0,6277198,registered
4,4885160,Mashpoe,unknown,NaN,"{'bronze': 21, 'silver': 8, 'gold': 1}",436,95.0,26,5,328,4,6285891,registered
5,4895979,Arsenii,unknown,"Kyiv, Ukraine","{'bronze': 16, 'silver': 5, 'gold': 1}",436,94.0,21,6,535,1,6301492,registered
6,4903467,Mayank Raj,unknown,"Mumbai, Maharashtra, India","{'bronze': 10, 'silver': 3, 'gold': 0}",436,NaN,1,29,0,2,6312287,registered
7,4905483,iDoc,unknown,NaN,"{'bronze': 8, 'silver': 3, 'gold': 0}",436,NaN,2,4,19,6,6315259,registered
8,4940835,kevin,unknown,NaN,"{'bronze': 9, 'silver': 4, 'gold': 0}",436,NaN,2,9,178,0,6367200,registered
9,4945431,Yoann,andy,NaN,"{'bronze': 6, 'silver': 2, 'gold': 0}",436,NaN,0,6,8,1,6373780,registered
10,4952235,Iulia Mihet,andy,"Amsterdam, Netherlands","{'bronze': 22, 'silver': 4, 'gold': 0}",436,60.0,33,10,110,0,6383657,registered
11,4953369,Raghul Rajendran,unknown,"Chennai, Tamil Nadu, India","{'bronze': 22, 'silver': 5, 'gold': 2}",436,33.0,38,4,188,1,6385228,registered
12,4974461,atjua,unknown,"Montreal, QC, Canada","{'bronze': 17, 'silver': 8, 'gold': 0}",436,77.0,20,20,114,4,6416402,registered
13,4987132,Fernando Gallego Fern&#225;ndez,andy,NaN,"{'bronze': 18, 'silver': 3, 'gold': 1}",436,85.0,18,7,79,9,6435397,registered
14,4995522,rav_kr,unknown,NaN,"{'bronze': 16, 'silver': 8, 'gold': 0}",436,NaN,1,10,246,1,6447417,registered
15,5000759,Scott Myers,andy,NaN,"{'bronze': 18, 'silver': 5, 'gold': 0}",436,79.0,33,0,23,1,6455047,registered
16,5006291,danroshko,unknown,"Yekaterinburg, Russia","{'bronze': 8, 'silver': 2, 'gold': 0}",436,NaN,0,13,80,1,6463326,registered
17,5074657,David Powell,male,"Tennessee, USA","{'bronze': 11, 'silver': 3, 'gold': 0}",436,67.0,50,12,17,2,6564635,registered
18,5076233,Sufyan,andy,NaN,"{'bronze': 15, 'silver': 5, 'gold': 1}",436,44.0,22,1,8,0,6566990,registered
19,5123887,natishka,unknown,NaN,"{'bronze': 2, 'silver': 5, 'gold': 0}",436,NaN,0,3,0,0,6637004,registered
20,5146870,Arunkumar MG,unknown,Kochi,"{'bronze': 14, 'silver': 5, 'gold': 1}",436,NaN,3,9,7,1,6670666,registered
21,5177605,Aliaksandr Pyrkh,male,"Minsk, Belarus","{'bronze': 8, 'silver': 6, 'gold': 0}",436,NaN,0,4,8,0,6715704,registered
22,5199262,vm909,unknown,NaN,"{'bronze': 7, 'silver': 3, 'gold': 0}",436,NaN,1,36,31,1,6748389,registered
23,5214776,SANGEETH KUMAR S G,unknown,"Thiruvananthapuram, Kerala, India","{'bronze': 20, 'silver': 6, 'gold': 0}",436,45.0,18,11,40,0,6771538,registered
24,5235638,SciFiThief,unknown,NaN,"{'bronze': 8, 'silver': 4, 'gold': 0}",436,NaN,0,26,27,2,6802839,registered
25,5261146,lomelisan,unknown,"Valencia, Carabobo, Venezuela","{'bronze': 10, 'silver': 4, 'gold': 0}",436,NaN,1,8,120,1,6840609,registered
26,5287753,Stefan,andy,NaN,"{'bronze': 3, 'silver': 5, 'gold': 0}",436,NaN,0,1,0,0,3984838,registered
27,5317267,Abhyudai,unknown,"New Delhi, Delhi, India","{'bronze': 12, 'silver': 5, 'gold': 0}",436,NaN,7,25,458,21,6926263,registered
28,5407948,Vicente Guerra Hern&#225;ndez,andy,NaN,"{'bronze': 6, 'silver': 4, 'gold': 1}",436,NaN,1,6,11,0,7063886,registered
29,5452393,radream,unknown,Taiwan,"{'bronze': 8, 'silver': 4, 'gold': 0}",436,NaN,0,3,97,0,7131263,registered
...,...,...,...,...,...,...,...,...,...,...,...,...,...
99970,1607385,Jon Smith,andy,NaN,"{'bronze': 4, 'silver': 1, 'gold': 0}",314,NaN,3,5,2,0,1760012,registered
99971,1619792,guergana,unknown,"Berlin, Germany","{'bronze': 13, 'silver': 2, 'gold': 0}",314,80.0,8,21,307,5,1776006,registered
99972,1630372,Bradley McKinley,male,"Boulder, CO","{'bronze': 4, 'silver': 2, 'gold': 0}",314,NaN,0,1,1,0,1789670,registered
99973,1644266,rodders,unknown,NaN,"{'bronze': 10, 'silver': 1, 'gold': 0}",314,NaN,3,12,9,1,1807454,registered
99974,1648121,Florin Chis,male,"Baia Mare, Romania","{'bronze': 7, 'silver': 2, 'gold': 0}",314,NaN,0,10,6,0,1812333,registered
99975,1652022,Shane Charles,andy,NaN,"{'bronze': 5, 'silver': 1, 'gold': 0}",314,NaN,0,10,54,0,1817155,registered
99976,1654483,Alix Martin,mostly_female,"Sophia-Antipolis, France","{'bronze': 5, 'silver': 1, 'gold': 0}",314,NaN,0,22,61,4,1820264,registered
99977,1656857,MarcD,unknown,NaN,"{'bronze': 8, 'silver': 1, 'gold': 0}",314,40.0,5,16,23,2,1823348,registered
99978,1679158,Jes&#250;s D&#237;az,unknown,"C&#243;rdoba, Argentina","{'bronze': 5, 'silver': 3, 'gold': 0}",314,NaN,2,6,26,1,1853034,registered
99979,1680876,krunal shah,unknown,NaN,"{'bronze': 14, 'silver': 2, 'gold': 0}",314,NaN,3,44,67,9,1855114,registered
99980,1681483,Dariusz Cieslak,andy,NaN,"{'bronze': 3, 'silver': 3, 'gold': 0}",314,NaN,0,9,1,0,1855891,registered
99981,1690664,bw2801,unknown,"Aachen, Germany","{'bronze': 15, 'silver': 7, 'gold': 1}",314,100.0,10,6,79,3,1867478,registered
99982,1706272,Cory Juhlin,mostly_male,"Tampa, FL","{'bronze': 9, 'silver': 4, 'gold': 0}",314,NaN,2,5,2,0,1887307,registered
99983,1710861,user1710861,unknown,NaN,"{'bronze': 6, 'silver': 4, 'gold': 0}",314,NaN,4,11,0,0,1893377,registered
99984,1718281,sharpone,unknown,NaN,"{'bronze': 4, 'silver': 3, 'gold': 0}",314,NaN,0,2,0,0,1902775,registered
99985,1730405,Elias Benevedes,andy,NaN,"{'bronze': 23, 'silver': 5, 'gold': 1}",314,93.0,16,11,62,16,1502880,registered
99986,1734604,joao,unknown,NaN,"{'bronze': 9, 'silver': 2, 'gold': 0}",314,NaN,0,10,16,1,1923669,registered
99987,1745149,Harish Gupta,andy,NaN,"{'bronze': 19, 'silver': 7, 'gold': 2}",314,NaN,35,8,17,2,1938256,registered
99988,1747743,BuahahaXD,unknown,Poland,"{'bronze': 21, 'silver': 5, 'gold': 1}",314,29.0,18,6,29,5,1941660,registered
99989,1752057,tazzix,unknown,"Karachi, Pakistan","{'bronze': 5, 'silver': 1, 'gold': 0}",314,NaN,1,6,30,0,1947202,registered
99990,1771697,glaslong,unknown,"Chicago, IL","{'bronze': 7, 'silver': 3, 'gold': 1}",314,NaN,2,0,99,1,1973305,registered
99991,1779861,Fernando Carvalho,male,"Lisbon, Portugal","{'bronze': 14, 'silver': 3, 'gold': 1}",314,75.0,8,7,53,6,1984031,registered
99992,1780668,Vignesh,unknown,India,"{'bronze': 17, 'silver': 6, 'gold': 2}",314,42.0,14,13,275,0,1985248,registered
99993,1780951,BlythMeister,unknown,"Lewes, East Sussex","{'bronze': 12, 'silver': 1, 'gold': 0}",314,NaN,2,22,17,5,1985629,registered
99994,1781595,Fabian,male,"Aachen, Deutschland","{'bronze': 18, 'silver': 5, 'gold': 2}",314,20.0,13,1,7,1,1986539,registered
99995,1784043,Daniel,andy,"Sydney NSW, Australia","{'bronze': 8, 'silver': 1, 'gold': 0}",314,NaN,0,14,22,4,893883,registered
99996,1788021,Patric Robert Gutersohn,andy,NaN,"{'bronze': 9, 'silver': 3, 'gold': 1}",314,NaN,4,7,198,0,1994855,registered
99997,1793580,veelasky,unknown,"Surabaya, Indonesia","{'bronze': 12, 'silver': 1, 'gold': 0}",314,NaN,0,14,119,2,2003015,registered
99998,1807301,Baywatch,unknown,"Providence, RI, United States","{'bronze': 12, 'silver': 3, 'gold': 0}",314,90.0,14,2,48,1,2021168,registered
99999,1810160,bodyflex,unknown,Finland,"{'bronze': 14, 'silver': 6, 'gold': 1}",314,90.0,11,5,59,0,2024847,registered

In [95]:
data_total= pd.concat([data_firstk,data_secondk,data_fourthk])
data_total

,user_id,display_name,gender,location,badge_counts,reputation,accept_rate,question_count,answer_count,up_vote_count,down_vote_count,account_id,user_type
0,22656,Jon Skeet,male,"Reading, United Kingdom","{'bronze': 8743, 'silver': 8438, 'gold': 756}",1183690,86.0,50,35003,16576,7017,11683,registered
1,1144035,Gordon Linoff,male,"New York, United States","{'bronze': 522, 'silver': 407, 'gold': 40}",958913,NaN,0,68331,16169,41,1165580,registered
2,6309,VonC,unknown,France,"{'bronze': 3809, 'silver': 3240, 'gold': 384}",952870,100.0,16,23735,54508,287,4243,registered
3,157882,BalusC,unknown,"Willemstad, Cura&#231;ao","{'bronze': 3367, 'silver': 3365, 'gold': 329}",931100,93.0,15,17081,15484,21829,52822,registered
4,29407,Darin Dimitrov,andy,"Sofia, Bulgaria","{'bronze': 2828, 'silver': 3125, 'gold': 240}",912621,86.0,41,21458,1955,2651,14332,registered
5,23354,Marc Gravell,male,"Forest of Dean, United Kingdom","{'bronze': 2690, 'silver': 2315, 'gold': 224}",865440,100.0,46,15549,25363,1080,11975,moderator
6,115145,CommonsWare,unknown,"Pennsylvania, United States","{'bronze': 2105, 'silver': 2086, 'gold': 156}",852105,84.0,118,21834,11349,7218,39846,registered
7,17034,Hans Passant,andy,"Madison, WI","{'bronze': 2261, 'silver': 1466, 'gold': 122}",839610,NaN,2,16098,10484,60299,9266,registered
8,100297,Martijn Pieters,andy,"Cambridge, UK","{'bronze': 2703, 'silver': 3064, 'gold': 197}",812356,NaN,3,19791,5792,20448,35417,moderator
9,157247,T.J. Crowder,unknown,United Kingdom,"{'bronze': 1505, 'silver': 1452, 'gold': 149}",794631,91.0,79,19011,12301,27057,52616,registered
10,893,Greg Hewgill,male,"Christchurch, New Zealand","{'bronze': 1210, 'silver': 1065, 'gold': 164}",759308,84.0,53,5405,6638,2258,680,registered
11,34397,SLaks,unknown,New Jersey,"{'bronze': 1846, 'silver': 1750, 'gold': 158}",752186,87.0,51,15135,6995,3269,15988,registered
12,19068,Quentin,male,United Kingdom,"{'bronze': 1130, 'silver': 985, 'gold': 88}",730491,NaN,4,20805,8155,72242,10162,registered
13,14860,paxdiablo,unknown,NaN,"{'bronze': 1771, 'silver': 1386, 'gold': 196}",713969,100.0,252,10613,4317,1395,8291,registered
14,95810,Alex Martelli,mostly_male,"Sunnyvale, CA","{'bronze': 1312, 'silver': 1107, 'gold': 141}",703306,80.0,6,6280,822,50,34048,registered
15,5445,CMS,unknown,Guatemala,"{'bronze': 821, 'silver': 878, 'gold': 168}",667945,NaN,0,2179,579,6,3748,registered
16,61974,Mark Byers,male,Denmark,"{'bronze': 1373, 'silver': 1449, 'gold': 151}",663210,NaN,0,6759,10338,340,24377,registered
17,20862,Ignacio Vazquez-Abrams,andy,NaN,"{'bronze': 1238, 'silver': 1166, 'gold': 122}",649321,50.0,8,12302,1739,73,10930,registered
18,335858,dasblinkenlight,unknown,United States,"{'bronze': 1313, 'silver': 912, 'gold': 67}",649274,81.0,26,15910,30776,3100,134022,registered
19,218196,Felix Kling,andy,NaN,"{'bronze': 1016, 'silver': 953, 'gold': 145}",642865,100.0,8,6884,6163,2045,76141,registered
20,190597,unutbu,unknown,NaN,"{'bronze': 1426, 'silver': 1423, 'gold': 128}",639948,88.0,17,7511,17241,661,64585,registered
21,13302,marc_s,unknown,"Bern, Switzerland","{'bronze': 1338, 'silver': 1206, 'gold': 143}",635417,99.0,218,9042,27094,26909,7633,registered
22,23283,JaredPar,unknown,"Redmond, WA","{'bronze': 1387, 'silver': 1146, 'gold': 131}",633697,100.0,5,6418,8137,76,11948,registered
23,15168,Jonathan Leffler,male,"Colorado, USA","{'bronze': 1122, 'silver': 753, 'gold': 108}",626903,100.0,49,12557,31625,1049,8423,registered
24,69083,Guffa,unknown,"Virsbo, Sweden","{'bronze': 912, 'silver': 640, 'gold': 86}",605796,NaN,3,10621,493,140,26521,registered
25,571407,JB Nizet,unknown,"Saint-Etienne, France","{'bronze': 1108, 'silver': 1022, 'gold': 75}",600259,100.0,8,13981,5476,9087,277416,registered
26,548225,anubhava,unknown,"Bangalore, India","{'bronze': 479, 'silver': 398, 'gold': 50}",594334,90.0,10,22799,21811,1077,262968,registered
27,88656,Eric Lippert,male,"Seattle, WA","{'bronze': 2008, 'silver': 1140, 'gold': 160}",589466,NaN,0,3773,2,4590,32093,registered
28,19563,CB Bailey,unknown,United Kingdom,"{'bronze': 626, 'silver': 587, 'gold': 87}",589429,NaN,0,1980,1148,203,10375,registered
29,139985,Stephen C,male,Australia,"{'bronze': 1034, 'silver': 682, 'gold': 81}",586300,69.0,21,13727,3025,3700,47283,registered
...,...,...,...,...,...,...,...,...,...,...,...,...,...
99970,1607385,Jon Smith,andy,NaN,"{'bronze': 4, 'silver': 1, 'gold': 0}",314,NaN,3,5,2,0,1760012,registered
99971,1619792,guergana,unknown,"Berlin, Germany","{'bronze': 13, 'silver': 2, 'gold': 0}",314,80.0,8,21,307,5,1776006,registered
99972,1630372,Bradley McKinley,male,"Boulder, CO","{'bronze': 4, 'silver': 2, 'gold': 0}",314,NaN,0,1,1,0,1789670,registered
99973,1644266,rodders,unknown,NaN,"{'bronze': 10, 'silver': 1, 'gold': 0}",314,NaN,3,12,9,1,1807454,registered
99974,1648121,Florin Chis,male,"Baia Mare, Romania","{'bronze': 7, 'silver': 2, 'gold': 0}",314,NaN,0,10,6,0,1812333,registered
99975,1652022,Shane Charles,andy,NaN,"{'bronze': 5, 'silver': 1, 'gold': 0}",314,NaN,0,10,54,0,1817155,registered
99976,1654483,Alix Martin,mostly_female,"Sophia-Antipolis, France","{'bronze': 5, 'silver': 1, 'gold': 0}",314,NaN,0,22,61,4,1820264,registered
99977,1656857,MarcD,unknown,NaN,"{'bronze': 8, 'silver': 1, 'gold': 0}",314,40.0,5,16,23,2,1823348,registered
99978,1679158,Jes&#250;s D&#237;az,unknown,"C&#243;rdoba, Argentina","{'bronze': 5, 'silver': 3, 'gold': 0}",314,NaN,2,6,26,1,1853034,registered
99979,1680876,krunal shah,unknown,NaN,"{'bronze': 14, 'silver': 2, 'gold': 0}",314,NaN,3,44,67,9,1855114,registered
99980,1681483,Dariusz Cieslak,andy,NaN,"{'bronze': 3, 'silver': 3, 'gold': 0}",314,NaN,0,9,1,0,1855891,registered
99981,1690664,bw2801,unknown,"Aachen, Germany","{'bronze': 15, 'silver': 7, 'gold': 1}",314,100.0,10,6,79,3,1867478,registered
99982,1706272,Cory Juhlin,mostly_male,"Tampa, FL","{'bronze': 9, 'silver': 4, 'gold': 0}",314,NaN,2,5,2,0,1887307,registered
99983,1710861,user1710861,unknown,NaN,"{'bronze': 6, 'silver': 4, 'gold': 0}",314,NaN,4,11,0,0,1893377,registered
99984,1718281,sharpone,unknown,NaN,"{'bronze': 4, 'silver': 3, 'gold': 0}",314,NaN,0,2,0,0,1902775,registered
99985,1730405,Elias Benevedes,andy,NaN,"{'bronze': 23, 'silver': 5, 'gold': 1}",314,93.0,16,11,62,16,1502880,registered
99986,1734604,joao,unknown,NaN,"{'bronze': 9, 'silver': 2, 'gold': 0}",314,NaN,0,10,16,1,1923669,registered
99987,1745149,Harish Gupta,andy,NaN,"{'bronze': 19, 'silver': 7, 'gold': 2}",314,NaN,35,8,17,2,1938256,registered
99988,1747743,BuahahaXD,unknown,Poland,"{'bronze': 21, 'silver': 5, 'gold': 1}",314,29.0,18,6,29,5,1941660,registered
99989,1752057,tazzix,unknown,"Karachi, Pakistan","{'bronze': 5, 'silver': 1, 'gold': 0}",314,NaN,1,6,30,0,1947202,registered
99990,1771697,glaslong,unknown,"Chicago, IL","{'bronze': 7, 'silver': 3, 'gold': 1}",314,NaN,2,0,99,1,1973305,registered
99991,1779861,Fernando Carvalho,male,"Lisbon, Portugal","{'bronze': 14, 'silver': 3, 'gold': 1}",314,75.0,8,7,53,6,1984031,registered
99992,1780668,Vignesh,unknown,India,"{'bronze': 17, 'silver': 6, 'gold': 2}",314,42.0,14,13,275,0,1985248,registered
99993,1780951,BlythMeister,unknown,"Lewes, East Sussex","{'bronze': 12, 'silver': 1, 'gold': 0}",314,NaN,2,22,17,5,1985629,registered
99994,1781595,Fabian,male,"Aachen, Deutschland","{'bronze': 18, 'silver': 5, 'gold': 2}",314,20.0,13,1,7,1,1986539,registered
99995,1784043,Daniel,andy,"Sydney NSW, Australia","{'bronze': 8, 'silver': 1, 'gold': 0}",314,NaN,0,14,22,4,893883,registered
99996,1788021,Patric Robert Gutersohn,andy,NaN,"{'bronze': 9, 'silver': 3, 'gold': 1}",314,NaN,4,7,198,0,1994855,registered
99997,1793580,veelasky,unknown,"Surabaya, Indonesia","{'bronze': 12, 'silver': 1, 'gold': 0}",314,NaN,0,14,119,2,2003015,registered
99998,1807301,Baywatch,unknown,"Providence, RI, United States","{'bronze': 12, 'silver': 3, 'gold': 0}",314,90.0,14,2,48,1,2021168,registered
99999,1810160,bodyflex,unknown,Finland,"{'bronze': 14, 'silver': 6, 'gold': 1}",314,90.0,11,5,59,0,2024847,registered

# get male and female data

In [96]:
female_total = data_total.query("gender == 'female'")
female_total = female_total.drop_duplicates(subset='user_id')
female_total = female_total.reset_index()
female_total = female_total.drop(columns=['index'])
female_total

,user_id,display_name,gender,location,badge_counts,reputation,accept_rate,question_count,answer_count,up_vote_count,down_vote_count,account_id,user_type
0,148870,Amber,female,California,"{'bronze': 514, 'silver': 570, 'gold': 66}",406977,NaN,2,3433,952,273,49939,registered
1,1447675,Nina Scholz,female,"D&#252;sseldorf, Deutschland","{'bronze': 263, 'silver': 197, 'gold': 19}",269728,NaN,0,11618,6591,3422,1556832,registered
2,51816,Joan Venge,female,"Los Angeles, CA","{'bronze': 641, 'silver': 430, 'gold': 191}",241164,82.0,750,23,3215,441,21350,registered
3,426671,Taryn,female,Arizona,"{'bronze': 374, 'silver': 316, 'gold': 49}",211178,96.0,57,3531,3910,3561,188123,moderator
4,582,Lily Ballard,female,"San Francisco, California, United States","{'bronze': 327, 'silver': 349, 'gold': 24}",161080,100.0,7,1489,724,141,455,registered
5,62082,Michelle Tilley,female,"San Francisco, CA","{'bronze': 298, 'silver': 346, 'gold': 35}",143306,81.0,24,1016,2744,102,24421,registered
6,302677,Rachel,female,"New York, United States","{'bronze': 445, 'silver': 273, 'gold': 54}",116382,88.0,224,1622,2732,57,115236,registered
7,104184,Sasha Chedygov,female,"Portland, OR","{'bronze': 107, 'silver': 96, 'gold': 24}",105954,100.0,32,202,9149,388,36515,registered
8,2548,Fionnuala,female,Ireland,"{'bronze': 137, 'silver': 97, 'gold': 7}",87074,NaN,1,3103,2557,417,1851,registered
9,164299,Rachel,female,California,"{'bronze': 357, 'silver': 247, 'gold': 109}",85088,99.0,360,73,320,27,54888,registered
10,40516,Juliet,female,"Omaha, NE","{'bronze': 224, 'silver': 189, 'gold': 43}",74280,89.0,48,438,924,297,17898,registered
11,1317935,Laurence,female,"Sydney, Australia","{'bronze': 189, 'silver': 146, 'gold': 17}",52727,98.0,64,996,3185,204,1385852,registered
12,365298,Rose Perrone,female,"Palo Alto, CA","{'bronze': 219, 'silver': 189, 'gold': 42}",52099,67.0,260,177,865,30,151431,registered
13,185527,Jan Hančič,female,"London, United Kingdom","{'bronze': 93, 'silver': 86, 'gold': 14}",47065,100.0,32,464,1752,577,4488,registered
14,356,Dinah,female,North Carolina,"{'bronze': 145, 'silver': 122, 'gold': 28}",46442,100.0,84,148,3375,154,285,registered
15,52745,Jin Yong,female,"Melbourne, Australia","{'bronze': 172, 'silver': 128, 'gold': 68}",35484,74.0,262,1,17,5,21635,registered
16,110527,Emma,female,"T&#252;bingen, Germany","{'bronze': 10, 'silver': 15, 'gold': 4}",33995,NaN,3,0,56,0,38503,registered
17,1696153,Katie,female,"Irvine, CA, USA","{'bronze': 101, 'silver': 71, 'gold': 16}",33104,100.0,84,71,6448,222,1874708,registered
18,1397351,Ana,female,at the monsters&#39; ball,"{'bronze': 115, 'silver': 71, 'gold': 6}",32145,NaN,5,354,1103,31,1490046,registered
19,1004312,Christina,female,"Florida, United States","{'bronze': 115, 'silver': 71, 'gold': 16}",30827,91.0,38,432,2583,488,985773,registered
20,143295,Nicole,female,"Salt Lake City, UT, United States","{'bronze': 92, 'silver': 66, 'gold': 11}",29842,71.0,26,248,1514,232,48256,registered
21,47589,Amy,female,"Columbia, TN","{'bronze': 142, 'silver': 84, 'gold': 19}",29442,83.0,141,550,2231,5060,20074,registered
22,683201,Eve Freeman,female,"Fairfax, VA","{'bronze': 90, 'silver': 76, 'gold': 2}",28930,100.0,15,547,1235,10,348487,registered
23,238260,Vivian River,female,United States,"{'bronze': 290, 'silver': 167, 'gold': 51}",26768,66.0,428,298,1936,88,85462,registered
24,7856,Dana,female,"Winnipeg, Canada","{'bronze': 72, 'silver': 57, 'gold': 16}",26473,95.0,25,128,1076,76,5016,registered
25,38743,Sarah Vessels,female,"Nashville, TN, United States","{'bronze': 215, 'silver': 140, 'gold': 28}",25957,79.0,223,170,1722,122,17349,registered
26,948550,Reut Sharabani,female,Israel,"{'bronze': 77, 'silver': 55, 'gold': 5}",25942,93.0,38,871,1018,231,915710,registered
27,219883,Taryn East,female,"Sydney, Australia","{'bronze': 99, 'silver': 78, 'gold': 8}",25369,83.0,13,866,3107,23,76916,registered
28,1675954,Rachel Gallen,female,"Dublin, Ireland","{'bronze': 71, 'silver': 62, 'gold': 13}",24307,100.0,8,1062,1189,1515,1848950,registered
29,1798593,Patricia Shanahan,female,"San Diego, CA","{'bronze': 65, 'silver': 33, 'gold': 2}",24128,NaN,3,941,2160,18,2009857,registered
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1420,599647,Shilpa,female,India,"{'bronze': 14, 'silver': 3, 'gold': 1}",320,29.0,8,13,109,1,295305,registered
1421,1390904,Deep,female,India,"{'bronze': 16, 'silver': 3, 'gold': 0}",320,29.0,36,6,26,1,1481670,registered
1422,2111431,Nina,female,Germany,"{'bronze': 10, 'silver': 2, 'gold': 0}",320,NaN,2,11,5,0,2417734,registered
1423,5912731,Hemlata Gehlot,female,"Bengaluru, Karnataka, India","{'bronze': 12, 'silver': 2, 'gold': 0}",320,NaN,3,15,48,1,7819090,registered
1424,11498076,Miri Gold,female,Israel,"{'bronze': 7, 'silver': 1, 'gold': 0}",320,NaN,1,15,157,0,15934592,registered
1425,26949,Danielle,female,Michigan,"{'bronze': 12, 'silver': 3, 'gold': 0}",319,NaN,3,0,33,0,13426,registered
1426,1704418,Elizabeth Schneider,female,"Denver, CO, United States","{'bronze': 13, 'silver': 2, 'gold': 0}",319,80.0,5,5,17,0,1885020,registered
1427,3784529,Pallavi,female,"Bangalore, Karnataka, India","{'bronze': 11, 'silver': 4, 'gold': 0}",319,0.0,6,17,1,0,4673304,registered
1428,5576171,Elena Oblomova,female,Russia,"{'bronze': 7, 'silver': 3, 'gold': 0}",319,NaN,0,3,12,0,7319797,registered
1429,6294733,Priyanka,female,India,"{'bronze': 5, 'silver': 2, 'gold': 0}",319,NaN,3,0,61,0,8238586,registered
1430,8450534,Deep Lathia,female,"Mumbai, Maharashtra, India","{'bronze': 13, 'silver': 2, 'gold': 0}",319,NaN,3,37,6,19,11531813,registered
1431,9140754,Gulshan Kumar,female,"Noida, Uttar Pradesh, India","{'bronze': 9, 'silver': 2, 'gold': 0}",319,NaN,2,7,50,0,12564158,registered
1432,1052518,Alice,female,United States,"{'bronze': 16, 'silver': 4, 'gold': 1}",318,95.0,20,2,27,0,1047899,registered
1433,3685847,Evelyn Kokemoor,female,"Eau Claire, WI, United States","{'bronze': 9, 'silver': 1, 'gold': 0}",318,NaN,3,17,9,0,4536891,registered
1434,1592545,Erika E,female,"Seattle, WA","{'bronze': 7, 'silver': 2, 'gold': 0}",317,NaN,3,3,18,0,1741185,registered
1435,3640102,Lilian Barraud,female,France,"{'bronze': 11, 'silver': 1, 'gold': 0}",317,NaN,5,17,3,2,4474707,registered
1436,4083888,Olivia Liao,female,"Jersey City, NJ, United States","{'bronze': 7, 'silver': 3, 'gold': 0}",317,NaN,0,9,28,0,5090722,registered
1437,4156372,Salva,female,"Foggia, Italy","{'bronze': 9, 'silver': 4, 'gold': 1}",317,17.0,8,0,6,0,5194598,registered
1438,4232911,Anastasia,female,Ukraine,"{'bronze': 7, 'silver': 4, 'gold': 0}",317,NaN,1,8,58,0,5304466,registered
1439,4280577,Jessica Pennell,female,Denver,"{'bronze': 13, 'silver': 2, 'gold': 0}",317,NaN,3,12,52,1,4431983,registered
1440,4301013,Rebecca Douglas,female,United Kingdom,"{'bronze': 11, 'silver': 4, 'gold': 0}",317,100.0,7,6,19,0,5401124,registered
1441,5237289,Aria,female,DC,"{'bronze': 18, 'silver': 4, 'gold': 0}",317,67.0,40,2,45,1,6805367,registered
1442,9542491,Udaya Prakash,female,"Chennai, Tamil Nadu, India","{'bronze': 13, 'silver': 1, 'gold': 0}",317,NaN,2,11,22,2,13212885,registered
1443,1410415,Sue C,female,London,"{'bronze': 3, 'silver': 1, 'gold': 0}",316,NaN,0,10,4,0,1507339,registered
1444,7451501,Hani,female,"Latakia, Syria","{'bronze': 4, 'silver': 2, 'gold': 0}",316,NaN,0,7,6,0,10081316,registered
1445,1662960,Vesna,female,"Belgrade, Serbia","{'bronze': 11, 'silver': 2, 'gold': 0}",315,86.0,23,2,52,0,1831692,registered
1446,3196904,Tatiana Mudryak,female,"Moscow, Россия","{'bronze': 6, 'silver': 2, 'gold': 1}",315,NaN,4,0,1,0,3858668,registered
1447,4391328,Brittany Rutherford,female,"NJ, U.S","{'bronze': 10, 'silver': 3, 'gold': 0}",315,58.0,27,0,20,0,5531460,registered
1448,5375023,Guna,female,"Coimbatore,India","{'bronze': 18, 'silver': 5, 'gold': 0}",315,NaN,2,26,610,3,7012734,registered
1449,1125554,Ann B. G.,female,United States,"{'bronze': 6, 'silver': 2, 'gold': 0}",314,NaN,0,26,0,0,1141900,registered

In [97]:
male_total = data_total.query("gender == 'male'")
male_total = male_total.drop_duplicates(subset='user_id')
male_total = male_total.reset_index()
male_total = male_total.drop(columns=['index'])
male_total

,user_id,display_name,gender,location,badge_counts,reputation,accept_rate,question_count,answer_count,up_vote_count,down_vote_count,account_id,user_type
0,22656,Jon Skeet,male,"Reading, United Kingdom","{'bronze': 8743, 'silver': 8438, 'gold': 756}",1183690,86.0,50,35003,16576,7017,11683,registered
1,1144035,Gordon Linoff,male,"New York, United States","{'bronze': 522, 'silver': 407, 'gold': 40}",958913,NaN,0,68331,16169,41,1165580,registered
2,23354,Marc Gravell,male,"Forest of Dean, United Kingdom","{'bronze': 2690, 'silver': 2315, 'gold': 224}",865440,100.0,46,15549,25363,1080,11975,moderator
3,893,Greg Hewgill,male,"Christchurch, New Zealand","{'bronze': 1210, 'silver': 1065, 'gold': 164}",759308,84.0,53,5405,6638,2258,680,registered
4,19068,Quentin,male,United Kingdom,"{'bronze': 1130, 'silver': 985, 'gold': 88}",730491,NaN,4,20805,8155,72242,10162,registered
5,61974,Mark Byers,male,Denmark,"{'bronze': 1373, 'silver': 1449, 'gold': 151}",663210,NaN,0,6759,10338,340,24377,registered
6,15168,Jonathan Leffler,male,"Colorado, USA","{'bronze': 1122, 'silver': 753, 'gold': 108}",626903,100.0,49,12557,31625,1049,8423,registered
7,88656,Eric Lippert,male,"Seattle, WA","{'bronze': 2008, 'silver': 1140, 'gold': 160}",589466,NaN,0,3773,2,4590,32093,registered
8,139985,Stephen C,male,Australia,"{'bronze': 1034, 'silver': 682, 'gold': 81}",586300,69.0,21,13727,3025,3700,47283,registered
9,13249,Nick Craver,male,"Winston-Salem, NC","{'bronze': 1124, 'silver': 1238, 'gold': 122}",570940,100.0,9,6166,3916,10,7598,moderator
10,505088,David Heffernan,male,"Ulverston, United Kingdom","{'bronze': 1323, 'silver': 916, 'gold': 39}",553064,91.0,84,12720,14150,25213,237126,registered
11,104349,Daniel Roseman,male,"London, United Kingdom","{'bronze': 721, 'silver': 672, 'gold': 50}",508619,86.0,7,12852,12913,10885,36572,registered
12,65358,Reed Copsey,male,"Yarmouth, ME, USA","{'bronze': 1314, 'silver': 1047, 'gold': 66}",501556,78.0,18,7415,6356,112,25430,registered
13,57695,Peter Lawrey,male,"Surrey, UK","{'bronze': 1026, 'silver': 647, 'gold': 66}",478749,75.0,35,13437,16767,392,23121,registered
14,1187415,Martin R,male,Germany,"{'bronze': 1147, 'silver': 1040, 'gold': 74}",455257,88.0,8,5904,4043,6355,1220712,registered
15,34509,Johannes Schaub - litb,male,"Frankfurt, Germany","{'bronze': 1139, 'silver': 823, 'gold': 107}",445542,62.0,198,2560,5044,2004,16029,registered
16,20860,Bill Karwin,male,California,"{'bronze': 727, 'silver': 573, 'gold': 72}",425236,92.0,15,6553,9648,214,10929,registered
17,279627,Sven Marnach,male,"Preetz, Germany","{'bronze': 738, 'silver': 813, 'gold': 95}",424641,82.0,13,2413,3397,416,104636,registered
18,939860,Erwin Brandstetter,male,"Vienna, Austria","{'bronze': 931, 'silver': 771, 'gold': 91}",418148,100.0,11,5471,5032,656,904738,registered
19,3832970,Wiktor Stribiżew,male,"Warsaw, Poland","{'bronze': 306, 'silver': 221, 'gold': 19}",403704,NaN,0,14245,15676,42690,4739783,registered
20,284240,Tim Schmelter,male,Code desert,"{'bronze': 808, 'silver': 569, 'gold': 53}",391509,93.0,175,10204,6664,2231,106749,registered
21,73226,Martin Smith,male,"London, United Kingdom","{'bronze': 746, 'silver': 642, 'gold': 71}",381754,100.0,19,4772,15932,5108,27657,registered
22,95592,Matthew Rankin,male,"Independence, MO","{'bronze': 149, 'silver': 111, 'gold': 36}",374261,77.0,70,114,3086,14,33990,registered
23,138475,Pascal MARTIN,male,"Lyon, France","{'bronze': 637, 'silver': 617, 'gold': 64}",360733,NaN,3,3035,2927,69,46833,registered
24,1288,Bill the Lizard,male,"Charlotte, NC","{'bronze': 816, 'silver': 529, 'gold': 167}",350914,93.0,68,1837,16749,25539,970,registered
25,114251,Arun P Johny,male,"Bangalore, India","{'bronze': 480, 'silver': 474, 'gold': 55}",350606,87.0,67,11125,3372,152,39580,registered
26,1271826,Rob,male,"Los Angeles, CA, USA","{'bronze': 833, 'silver': 657, 'gold': 61}",344881,100.0,18,5857,7279,1027,1327250,registered
27,223092,Mark Longair,male,"London, United Kingdom","{'bronze': 311, 'silver': 377, 'gold': 64}",344025,68.0,21,721,1344,3,78362,registered
28,3043,Joel Coehoorn,male,"York, NE","{'bronze': 751, 'silver': 515, 'gold': 101}",343590,70.0,103,6641,11835,1423,2212,registered
29,9530,Adam Rosenfield,male,United States,"{'bronze': 561, 'silver': 469, 'gold': 90}",338928,78.0,28,2168,9689,615,5807,registered
...,...,...,...,...,...,...,...,...,...,...,...,...,...
44037,12259996,Simon,male,USA,"{'bronze': 9, 'silver': 0, 'gold': 0}",315,NaN,2,17,54,3,16950300,registered
44038,137340,David Webster,male,"Reading, England","{'bronze': 5, 'silver': 1, 'gold': 0}",314,NaN,0,9,6,1,46467,registered
44039,225242,Ammar Alammar,male,Saudi Arabia,"{'bronze': 13, 'silver': 6, 'gold': 0}",314,100.0,6,2,165,2,79436,registered
44040,259122,Robert Swift,male,United Kingdom,"{'bronze': 5, 'silver': 2, 'gold': 0}",314,NaN,0,2,97,3,95059,registered
44041,439499,Pierce,male,"Dallas, TX","{'bronze': 9, 'silver': 4, 'gold': 0}",314,NaN,0,13,537,4,196185,registered
44042,473192,Yves Van Broekhoven,male,"Antwerp, Belgium","{'bronze': 13, 'silver': 2, 'gold': 1}",314,83.0,6,4,249,0,217405,registered
44043,487063,Matthew Kane,male,"Agoura Hills, CA","{'bronze': 5, 'silver': 1, 'gold': 0}",314,NaN,1,7,9,3,226172,registered
44044,517947,Carl,male,"Burlington, MA, United States","{'bronze': 14, 'silver': 1, 'gold': 0}",314,56.0,9,17,17,3,244856,registered
44045,586607,Stijn De Vos,male,Belgium,"{'bronze': 8, 'silver': 3, 'gold': 0}",314,NaN,0,4,67,3,287035,registered
44046,654147,Rob Lyman,male,"Chicago Loop, Chicago, IL, United States","{'bronze': 7, 'silver': 1, 'gold': 0}",314,NaN,2,16,8,0,330186,registered
44047,676387,Teodors,male,"Riga, Latvia","{'bronze': 14, 'silver': 3, 'gold': 1}",314,100.0,6,5,28,2,344205,registered
44048,856326,David Karam,male,"Zurich, Switzerland","{'bronze': 12, 'silver': 3, 'gold': 0}",314,NaN,4,9,18,1,457174,registered
44049,878352,Serhiy,male,Ukraine,"{'bronze': 12, 'silver': 5, 'gold': 0}",314,NaN,4,14,380,12,470908,registered
44050,907809,Ivan Milles,male,"Stockholm, Sweden","{'bronze': 9, 'silver': 1, 'gold': 0}",314,NaN,3,13,23,0,539828,registered
44051,943623,Aaron Brown,male,"New York, United States","{'bronze': 10, 'silver': 1, 'gold': 0}",314,NaN,1,4,23,2,486593,registered
44052,1128079,Jan Peter,male,"Groningen, Netherlands","{'bronze': 15, 'silver': 4, 'gold': 0}",314,NaN,2,17,32,1,1145122,registered
44053,1176833,David Gallardo,male,Madrid,"{'bronze': 6, 'silver': 2, 'gold': 0}",314,NaN,0,11,27,0,1207587,registered
44054,1197502,Marc Ghorayeb,male,"Paris, France","{'bronze': 10, 'silver': 3, 'gold': 1}",314,NaN,2,1,108,1,1233375,registered
44055,1203724,Gerard de Brieder,male,"Amersfoort, Netherlands","{'bronze': 6, 'silver': 2, 'gold': 0}",314,NaN,0,2,6,0,1241158,registered
44056,1241469,Rocky,male,"Los Angeles, CA","{'bronze': 13, 'silver': 4, 'gold': 0}",314,80.0,5,11,348,0,1288995,registered
44057,1260904,Jan Gr&#228;fen,male,Germany,"{'bronze': 12, 'silver': 2, 'gold': 0}",314,25.0,5,15,6,1,1313417,registered
44058,1378546,Matt Randell,male,UK,"{'bronze': 10, 'silver': 3, 'gold': 1}",314,NaN,3,12,46,35,1465615,registered
44059,1446008,Venkatesh,male,"Chennai, India","{'bronze': 11, 'silver': 2, 'gold': 0}",314,NaN,1,29,43,1,355298,registered
44060,1452741,Mitch Ware,male,"Atlanta, GA, United States","{'bronze': 12, 'silver': 3, 'gold': 1}",314,NaN,3,1,6,1,1563410,registered
44061,1549026,John Niedzwiecki,male,"Burke, VA, United States","{'bronze': 5, 'silver': 2, 'gold': 0}",314,NaN,0,9,61,0,1685669,registered
44062,1589891,Adrien LAUER,male,"Poissy, France","{'bronze': 6, 'silver': 1, 'gold': 0}",314,NaN,0,26,16,0,1737713,registered
44063,1630372,Bradley McKinley,male,"Boulder, CO","{'bronze': 4, 'silver': 2, 'gold': 0}",314,NaN,0,1,1,0,1789670,registered
44064,1648121,Florin Chis,male,"Baia Mare, Romania","{'bronze': 7, 'silver': 2, 'gold': 0}",314,NaN,0,10,6,0,1812333,registered
44065,1779861,Fernando Carvalho,male,"Lisbon, Portugal","{'bronze': 14, 'silver': 3, 'gold': 1}",314,75.0,8,7,53,6,1984031,registered
44066,1781595,Fabian,male,"Aachen, Deutschland","{'bronze': 18, 'silver': 5, 'gold': 2}",314,20.0,13,1,7,1,1986539,registered

In [98]:
from sklearn.utils import shuffle

male_sample = shuffle(male_total,n_samples=female_total.shape[0])
male_sample = male_sample.reset_index()
male_sample = male_sample.drop(columns=['index'])
male_sample

,user_id,display_name,gender,location,badge_counts,reputation,accept_rate,question_count,answer_count,up_vote_count,down_vote_count,account_id,user_type
0,643383,Caleb,male,United States,"{'bronze': 252, 'silver': 164, 'gold': 18}",116458,79.0,16,3229,5748,2301,323395,registered
1,2149852,Jason Byrne,male,"Longwood, FL","{'bronze': 16, 'silver': 6, 'gold': 0}",1161,NaN,3,80,15,3,2466995,registered
2,1028762,Erik van Zijst,male,San Francisco Bay Area,"{'bronze': 14, 'silver': 14, 'gold': 0}",1898,NaN,0,23,13,3,1017536,registered
3,3208492,Marcus Rossel,male,Germany,"{'bronze': 36, 'silver': 20, 'gold': 1}",2984,92.0,41,42,593,31,3873890,registered
4,975132,Caleb Gray,male,"Washington, United States","{'bronze': 30, 'silver': 18, 'gold': 2}",2860,93.0,16,31,49,2,946872,registered
5,2898065,Fred the Magic Wonder Dog,male,In front of a computer screen,"{'bronze': 30, 'silver': 21, 'gold': 1}",7608,NaN,0,161,599,2,3460938,registered
6,5718237,James McCormac,male,"Warwick, United Kingdom","{'bronze': 18, 'silver': 7, 'gold': 0}",1256,67.0,9,23,123,6,2641331,registered
7,4147362,Patrick RoDee,male,"San Diego, CA","{'bronze': 9, 'silver': 6, 'gold': 0}",1086,NaN,0,16,167,1,5181882,registered
8,4624291,Oscar Courchaine,male,"Seattle, WA, USA","{'bronze': 13, 'silver': 3, 'gold': 0}",326,71.0,27,12,23,0,5872329,registered
9,234122,Ben Cochran,male,"San Francisco, CA","{'bronze': 13, 'silver': 11, 'gold': 0}",1260,NaN,0,14,100,5,83528,registered
10,1653919,Ashish Mehta,male,"Ahmedabad, India","{'bronze': 48, 'silver': 21, 'gold': 4}",5830,57.0,37,68,60,2,1819581,registered
11,2876861,Michael Simbirsky,male,"Santa Clara, CA","{'bronze': 21, 'silver': 8, 'gold': 1}",2790,NaN,1,118,148,15,3433016,registered
12,225074,Thomas Matthews,male,California,"{'bronze': 135, 'silver': 82, 'gold': 11}",49762,91.0,139,2992,16211,146,79346,registered
13,337055,Philip,male,Ireland,"{'bronze': 28, 'silver': 16, 'gold': 2}",4586,75.0,29,294,117,19,134718,registered
14,924077,Bogdan Sahlean,male,"Bucharest, Romania","{'bronze': 52, 'silver': 30, 'gold': 3}",19000,NaN,0,759,2059,437,873828,registered
15,351688,Guus,male,Netherlands,"{'bronze': 78, 'silver': 43, 'gold': 8}",2221,91.0,60,35,7751,98,143382,registered
16,31891,Ken Mayer,male,"San Francisco, CA, United States","{'bronze': 15, 'silver': 12, 'gold': 1}",1712,23.0,16,9,9,7,15203,registered
17,6860421,Roman Alekseiev,male,"Kyiv, Ukraine","{'bronze': 18, 'silver': 8, 'gold': 0}",1337,NaN,12,72,44,14,9235701,registered
18,267263,Bill Agee,male,"Bay Area, CA, United States","{'bronze': 16, 'silver': 17, 'gold': 0}",3308,NaN,0,93,586,3,98818,registered
19,1577959,Ben,male,"Rochester, United Kingdom","{'bronze': 44, 'silver': 25, 'gold': 8}",3867,55.0,114,21,101,4,1722520,registered
20,8345637,Jonathan,male,"San Antonio, TX, United States","{'bronze': 6, 'silver': 1, 'gold': 0}",366,NaN,0,8,67,1,11383306,registered
21,580530,Jeff Erickson,male,"New York, NY","{'bronze': 41, 'silver': 31, 'gold': 7}",3305,96.0,51,5,175,7,283170,registered
22,2124732,Christopher Dumas,male,"Morgan Hill, CA, United States","{'bronze': 25, 'silver': 10, 'gold': 0}",1170,86.0,40,22,57,10,2434493,registered
23,5487,Troy DeMonbreun,male,"Nashville, Tennessee, United States","{'bronze': 34, 'silver': 22, 'gold': 3}",3794,17.0,8,7,786,3,3775,registered
24,2249778,Daniel,male,Romania,"{'bronze': 16, 'silver': 7, 'gold': 0}",396,100.0,8,3,782,2,2596123,registered
25,361494,Joe Chrysler,male,Michigan,"{'bronze': 9, 'silver': 11, 'gold': 1}",2534,NaN,0,4,72,3,149194,registered
26,4197505,Thomas G,male,"Namur, Belgium","{'bronze': 34, 'silver': 21, 'gold': 7}",8151,NaN,2,454,734,453,5251838,registered
27,1215872,Gordon Williams,male,"Oxford, United Kingdom","{'bronze': 25, 'silver': 13, 'gold': 0}",1573,86.0,28,21,131,2,518142,registered
28,188756,Marcus,male,Sweden,"{'bronze': 14, 'silver': 7, 'gold': 1}",1079,82.0,17,1,46,1,63837,registered
29,1169194,Bartosz Rychlicki,male,"Gdańsk, Poland","{'bronze': 40, 'silver': 18, 'gold': 3}",1788,56.0,45,13,74,0,1197841,registered
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1420,2019761,Arnaud,male,France,"{'bronze': 71, 'silver': 42, 'gold': 11}",3281,66.0,90,2,287,15,2299007,registered
1421,410724,Vladimir Sorokin,male,"Kiev, Ukraine","{'bronze': 20, 'silver': 12, 'gold': 3}",1575,67.0,6,4,69,0,178626,registered
1422,133470,Gene Myers,male,"Brighton &amp; Hove, United Kingdom","{'bronze': 31, 'silver': 13, 'gold': 0}",1179,86.0,16,21,66,6,45291,registered
1423,4228488,Nacho Ramos S&#225;nchez,male,"Salamanca, Spain","{'bronze': 15, 'silver': 1, 'gold': 0}",329,100.0,8,28,34,6,5297812,registered
1424,1339257,Max Fichtelmann,male,"Leipzig, Germany","{'bronze': 24, 'silver': 16, 'gold': 1}",2715,40.0,9,70,81,2,1413018,registered
1425,1193176,Quincy Bowers,male,"Horseshoe Bend, ID","{'bronze': 11, 'silver': 3, 'gold': 0}",323,80.0,10,3,32,0,1227966,registered
1426,204847,Mike Seymour,male,United Kingdom,"{'bronze': 592, 'silver': 387, 'gold': 22}",226796,NaN,0,4402,8175,75,70736,registered
1427,1503335,John Melchior,male,Coimbatore,"{'bronze': 18, 'silver': 3, 'gold': 2}",377,50.0,19,1,26,0,1144791,registered
1428,409828,Adam SO,male,Connecticut,"{'bronze': 27, 'silver': 23, 'gold': 7}",8391,81.0,16,2,103,0,178083,registered
1429,147077,Alexis M&#233;taireau,male,"Paris, France","{'bronze': 33, 'silver': 18, 'gold': 4}",6832,100.0,14,31,131,9,49402,registered
1430,3401244,Eran Witkon,male,Israel,"{'bronze': 17, 'silver': 14, 'gold': 4}",3242,40.0,28,10,9,1,4148067,registered
1431,1197019,George Grigorita,male,"Cluj-Napoca, Romania","{'bronze': 39, 'silver': 22, 'gold': 2}",1306,91.0,50,4,134,1,1232786,registered
1432,1977143,Bruno Garcia,male,"Vienna, Austria","{'bronze': 33, 'silver': 20, 'gold': 3}",4563,80.0,8,163,2070,7,2243108,registered
1433,1334135,Joel Derfner,male,"New York, NY, United States","{'bronze': 44, 'silver': 28, 'gold': 4}",2157,83.0,107,19,129,0,1406581,registered
1434,928963,James Boutcher,male,"Omaha, NE","{'bronze': 36, 'silver': 21, 'gold': 1}",2405,80.0,7,51,796,24,890610,registered
1435,4367223,Daniel Dewhurst,male,England,"{'bronze': 32, 'silver': 14, 'gold': 1}",2008,56.0,22,43,347,34,2056707,registered
1436,233095,Dirk Brockhaus,male,Germany,"{'bronze': 47, 'silver': 33, 'gold': 3}",4572,100.0,24,111,974,1,83050,registered
1437,3182611,Mike Dunker,male,"San Jose, CA","{'bronze': 17, 'silver': 11, 'gold': 0}",1700,NaN,0,72,43,0,3838966,registered
1438,5414062,Mohammad Eliass Alhusain,male,"Istanbul, İstanbul, Turkey","{'bronze': 25, 'silver': 11, 'gold': 2}",1163,97.0,39,10,1861,13,7073079,registered
1439,103316,Philip Brocoum,male,"Portland, OR, USA","{'bronze': 24, 'silver': 20, 'gold': 2}",2648,47.0,19,6,24,5,36270,registered
1440,4900,Bruno Ranschaert,male,Belgium,"{'bronze': 42, 'silver': 32, 'gold': 4}",6283,83.0,15,54,985,14,3396,registered
1441,475468,Jostein,male,"Oslo, Norway","{'bronze': 25, 'silver': 19, 'gold': 1}",2974,75.0,5,16,211,1,218902,registered
1442,3435174,Marek Galinski,male,"Bratislava, Slovakia","{'bronze': 16, 'silver': 5, 'gold': 0}",417,83.0,7,9,21,2,4193033,registered
1443,3578399,Joe Benton,male,"Bournemouth, United Kingdom","{'bronze': 17, 'silver': 16, 'gold': 1}",3148,100.0,6,77,46,5,4389478,registered
1444,1432270,Shlomi Levi,male,Israel,"{'bronze': 20, 'silver': 11, 'gold': 0}",1463,71.0,17,41,115,11,1536327,registered
1445,2197975,Joshua Michael Waggoner,male,"Spokane, WA, USA","{'bronze': 31, 'silver': 22, 'gold': 0}",1905,89.0,26,52,729,28,2529368,registered
1446,80858,Ivan G.,male,"London, United Kingdom","{'bronze': 57, 'silver': 32, 'gold': 1}",4392,44.0,66,87,235,163,29825,registered
1447,968769,Andrew &#39;go-sql&#39; Fenna,male,Manchester,"{'bronze': 15, 'silver': 4, 'gold': 1}",369,71.0,23,9,24,0,940639,registered
1448,1807420,Martin Wallgren,male,Sweden,"{'bronze': 9, 'silver': 4, 'gold': 0}",422,NaN,0,6,41,3,940073,registered
1449,593506,Mehmet Kasalak,male,"Istanbul, Turkey","{'bronze': 13, 'silver': 2, 'gold': 0}",357,NaN,4,0,6,1,291386,registered

In [99]:
female_total.to_csv('raw_user_data/user_female_total.csv',index=None)
male_total.to_csv('raw_user_data/user_male_total.csv',index=None)
male_sample.to_csv('raw_user_data/user_male_sample.csv',index=None)